{{#section "css"}}
  <link rel="stylesheet" href="/css/courses.css" />
  <link rel="stylesheet" href="/css/courseDetail.css" />
  <link rel="stylesheet" href="./partials/barStar.hbs" />
{{/section}}

<div class="courseD__container">
  <div class="courseD__intro">
    {{!-- <ul class="course__category">
      <li class="course__category-item">
        <a href="#" class="courseD__intro__link">Web Development</a>
      </li>
      <li class="course__category-item">
        <a href="#" class="courseD__intro__link">Javascript</a>
      </li>
    </ul> --}}

    <ul class="course__category">
      {{#each linkCategories}}
        <li class="course__category-item">
          <a href="/courses?id={{id}}" class="courseD__intro__category">{{name}}</a>
        </li>
      {{/each}}
    </ul>

    <div class="d-flex align-items-center">
      <div class="courseD__intro__avt" style="background-image: url({{this.course.image}})"></div>

      <div class="courseD__intro__info">
        <div class="d-flex">
          <h1 class="courseD__intro__name">{{this.course.name}}</h1>

          {{#if this.isComplete}} 
          <label
            class="courseD__intro__status"
            style="background-color:rgb(22, 161, 22); border-color:rgb(22, 161, 22);"
          >Accomplished</label>
          {{else}}
          <label
            class="courseD__intro__status"
            style="background-color:orange; border-color:rgb(22, 161, 22);"
          >Unaccomplished</label>
          {{/if}}


        </div>
        <p class="courseD__intro__item">{{this.course.tinyDescription}}</p>

        <div class="course__teacher">
          Teacher
          <a class="courseD__intro__link" >{{this.teacher.name}}</a>
        </div>

        <div class="course__review">
          <div class="course__review-score">
            {{> barStar this.course}}
          </div>

          <div class="course__review-number">({{this.course.numberRated}})</div>
          </div>
        <div class="courseDetail_course__review">
          <a class="courseDetail_course__review-number" href="#">{{this.numberRating}} ratings</a>
          {{this.numberOfStudent}} students
          {{!-- {{#if (gt this.numberOfStudent '>' 1 )}}
           students
          {{else}}
            student
            {{/if}} --}}
        </div>

        <div class="courseD__intro__footer">
          <div class="mr-5">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Last updated: 
              {{this.updateTime}} 
          </div>
        </div>

        <div class="courseD__intro__buttons">
            
            {{!-- teacher || student --}}
            {{#ifOrs lcAuthTeacher lcAuthUser}}
              {{!-- teacher --}}
              {{#if lcAuthTeacher}}
                {{#if ../this.course.isCourseOfTeacher}}
                  <div class="buying-btn-frame">
                    <a href="/teacher/profile" class="buying-button">
                      <p class="fee">
                        Edit
                      </p>
                    </a>
                  </div>
                {{/if}}
              {{/if}}

              {{!-- user --}}
              {{#if lcAuthUser}}
              {{!-- khi user da mua khoa hoc --}}
                {{#if this.course.buyed}}
                <div class="learning-btn-frame ">
                  <a href="/courses/join?idCourse={{this.course.id}}" class="learning-button">
                    <p class="learning">
                      Learning
                    </p>
                  </a>
                </div>
                {{!-- khi user chua dky mua khoa hoc --}}
                {{else}}
                <div class="buying-btn-frame" >
                  <a  
                    class="buying-button" 
                    href="/courses/enroll?id={{this.course.id}}"
                    role="button"
                  >
                    <p class="fee">
                      {{format_number this.course.fee}} đ
                    </p>
                    {{#if this.course.discount}}
                      <p class="feeO">
                        {{format_number this.course.feeO}}đ
                      </p>
                    {{/if}}
                  </a>
                </div>
                {{/if}}

                {{!-- khi user thich khoa hoc --}}
                <a
                  name="add-cart-btn"
                  id="add-cart-btn"
                  class="btn btn--heart btn--icon {{#if this.course.loved}}active{{/if}} mr-5"
                  href="/courses/{{#if this.course.loved}}unlike{{else}}like{{/if}}?id={{this.course.id}}"
                  role="button"
                >
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </a>
              {{/if}}

              {{!-- guest --}}
              {{else}}  
                <div class=" ml-5 buying-btn-frame">
                <a href="/account/login/required" role="button" class="ml-5 buying-button" >
                  <p class="fee">
                    {{format_number this.course.fee}} đ
                  </p>
                  {{#if this.course.discount}}
                    <p class="feeO">
                      {{format_number this.course.feeO}}đ
                    </p>
                  {{/if}}
                </a>
                </div>
              {{/ifOrs}}
        </div>
      </div>

      <div class="courseD_intro__videoPreview">
        <div>
          <iframe
            src="{{this.course.videoID}};autoplay=1&mute=1"
            width="437"
            height="250"
            {{!-- allow='autoplay' --}}
            
            class="videoCourse"
          >
          </iframe>
          <p class="coursePreview_title">30-day money-back guarantee</p>
          <div class="coursePreview_benefit">
            <h2 class="title">This course include</h2>
            <p class="content">
              <i class="perLine fa fa-globe" aria-hidden="true"></i>
                English
            </p>
            <p class="content">
              <i class="perLine fa fa-hourglass" aria-hidden="true"></i>
              &nbsp;Lifetime access
            </p>
            <p class="content">
              <i class="perLine fa fa-tablet" aria-hidden="true"></i>
              Access on mobile and TV
            </p>
            <p class="content">
              <i class="perLine fa fa-certificate" aria-hidden="true"></i>
              Certificate of completion
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="courseD__content">
    <div class="left">
      <div class="description">
        <h2 class="description-title">Required</h2>
        <p class="description-item">{{{this.course.required}}}</p>
      </div>

      <div class="description">
         {{{this.course.benefit}}} 
        
        
     </div>

      <div class="description">
        <h2 class="description-title">Description</h2>
        <p class="description-item">{{{this.course.fullDescription}}}</p>
      </div>

      <div class="description">
        <div class="formCourse">
          <div>
            {{! title Course }}
            <div class="formCourse_title d-flex justify-content-between" data-toggle="collapse"
              data-target="#course" aria-expanded="false">
              <p><i class="fas fa-book-open"></i>
                Course content
              </p>
              <div class="mr-4">
                <i class="fas fa-angle-down course-icon{{index}} down-icon"></i>

              </div>
            </div>
            {{! chapter in course }}
            <div class="collapse show" id="course">
              <div class="chapter__content">
                <div class="row">
                  <div class="col-lg-12">
                    {{#each courseContent.chapter}}
                    {{! title Chapter }}
                    <div class="chapter__title d-flex justify-content-between w-100" data-toggle="collapse"
                      data-target="#{{../index}}chapter{{index}}" aria-expanded="false" aria-controls="collapseExample">
                      <div>
                        <p><i class="fas fa-expand-arrows-alt"></i>
                          Chapter {{index}}: {{name}}</p>
                      </div>
                      <div class=" mr-4 ">
                        <i class="fas fa-angle-down chapter-icon{{index}} down-icon"></i>



                      </div>
                    </div>
                    {{! lesson in chapter }}
                    <div class="collapse" id="{{../index}}chapter{{index}}">
                      {{#each lesson}}

                      <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                        <div>
                          <p><i class="far fa-sticky-note"></i>
                            Lesson {{index}}: {{name}}</p>
                        </div>
                        <div class="icon-lesson mr-4">
                          {{#if checkLesson}}
                          {{/if}}
                        </div>
                      </div>
                      {{/each}}
                    </div>
                    {{/each}}
                  </div>
                </div>

              </div>

            </div>

          </div>
      </div>
      </div>
    </div>
    <div class="right">
      <p>Similar course</p>
      
      <div>
        <dl>
          {{#each this.listSimilar}}
            <dt>
              <a
                href="/courses/detail?id={{id}}"
                role="button"
                class="similar_course-button"
              >

                <img
                  src={{image}}
                  class="similar_course-image col-sm-3"
                  alt="Cinque Terre"
                />
<<<<<<< HEAD
                <p class="similar_course_name">{{name}}</p>
                <p class="similar_course-price">{{format_number fee}}đ</p>
=======
                <div class="col-sm-7">
                  <p class="similar_course_name ">{{name}}</p>
                  <p class="similar_course_teacher">Teacher: {{teacher}}</p>
                </div>
                <p class="similar_course-price col-sm-2">{{format_number fee}}</p>
>>>>>>> fef534aca02ac059cdf1aea1e427caee42239380
              </a>
            </dt>
          
          {{/each}}
        </dl>
      </div>
    </div>
  </div>

  <div class="teacher">
    <p class="teacher_title">Teacher</p>
    <div class="teacher_review" href="/teacherProfile" role="button">
      <img
        src={{this.teacher.img}}
        class="teacher_avt  "
        alt="Picture of teacher"
      />
      <div class="teacher_information">
        <p class="teacher_name">{{this.teacher.name}}</p>
        <p>{{{this.teacher.about}}}</p>
        <p class="teacher_contact">Contact: {{this.teacher.email}}</p>
        {{!-- <p class="teacher_role">Associate Professor</p> --}}
        {{!-- <p class="teacher_specialization">Department of Computer Science and
          Engineering</p> --}}
        <div class="teacher_learner-courses">
          <i class="fa fa-user" aria-hidden="true"></i>
          &nbsp;&nbsp;{{this.numberStudentOfTeacher}} leaners
        </div>
        <div class="teacher_learner-courses">
          <i class="fa fa-book" aria-hidden="true"></i>
          &nbsp;&nbsp;{{this.NumberCourseOfTeacher}} courses
        </div>
      </div>
    </div>
  </div>

  
  <div class="feedback">
    <div class="col-md-3">
      <div class="feedback-left">
        <p class="feedback-title">Feedbacks</p>
        <div class="feedback_review">
          <div class="course__review">
            <div class="course__review-score">
              {{> barStar this.course}}
            </div>

            <div class="course__review-number">({{this.course.numberRated}})</div>
          </div>

          {{!-- <p class="feedback_review-numberRate">{{this.course.rated}}</p>
          <div>
            <div class="feedback_review-ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </div>
            <a class="feedback_review-ratings_links" href="#">1336 ratings</a>
          </div> --}}
        </div>

        <div class="reviews-bar-graph">
          <ul>
            {{#each this.percentInfo}}
            <li class="reviews-bar-graph-per_line">
              <p class="col-sm-2 numberStar">{{index}} stars</p>
                <div class="col-sm-7">
                  <div class="line">
                    <div class="straightLine">
                    </div>
                    <div class="lineStar" style="width: {{percent}}%">
                    </div>
                  </div>
                </div>
              <div class="col-sm-1">{{format_float_number percent}}%</div>
            </li>       
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div id="feedback" class="col-md-8">
      {{#each this.allFeedback}}
        <div  class="feedback-right">
          <div class="feedback-right-star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <div class="display_flex">
            <p>By. John Matt {{studentID}} &nbsp;</p>
            <p>&nbsp; {{time}}</p>
          </div>
          <p>{{feedback}}</p>
        </div>
      {{/each}}
      
      {{!-- <a
        id="see_more_feedbacks-btn"
        class="btn btn--border see_more_feedbacks-btn"
        href="#feedback"
        role="button"
      >See more</a> --}}
    </div>
  </div>
  {{!-- {{/ifEquals}} --}}
</div>