{{#section "css"}}
<link rel="stylesheet" href="/css/listAccount.css" />
{{/section}}

{{#section "js"}}
{{#if idUser}}
<script>
  const userId = $("#my-name").val();
  $(`#editAccountModal${userId}`).modal('show')
</script>
{{/if}}
<script>
  
  let idAccount;
  const deleteAccountForm = document.forms["deleteAccountForm"];
  const checkboxAll = document.querySelector('#checkboxAll')
  const checkboxAccount = document.querySelectorAll('.checkboxAccount');
  const check_btn = document.querySelector('.check_btn')
  checkboxAll.onchange = (e) => {
    checkboxAll.checked === true ? check_btn.removeAttribute("disabled") : check_btn.setAttribute("disabled", "")
    if (document.querySelector('.checkboxAccount') === null) {
      check_btn.setAttribute("disabled", "")
    }
    checkboxAccount.forEach((checkbox) => {
      e.target.checked === true ? check_btn.removeAttribute("disabled") : check_btn.setAttribute("disabled", "")
      checkbox.checked = e.target.checked;
    });

  };
  const checkAllFalse = () => {
    for (const check of checkboxAccount) {
      if (check.checked === true) {
        checkboxAll.checked = false
        return false
      }
    }
    return true
  }
  const checkAllTrue = () => {
    for (const check of checkboxAccount) {
      if (check.checked === false) {
        return;
      }
    }
    checkboxAll.checked = true
  }

  checkboxAccount.forEach((checkbox) => {
    checkbox.addEventListener('change', function handleClick(event) {
      if (checkbox.checked === true) {
        check_btn.removeAttribute("disabled")
        checkAllTrue()
      }
      else {
        console.log(checkAllFalse())
        if (checkAllFalse() === true) {
          check_btn.setAttribute("disabled", "")
          checkboxAll.checked = false
        }
      }
    })


  });
  $("#deleteAccountModal").on('show.bs.modal', function (e) {
    idAccount = e.relatedTarget.getAttribute("data-id")
  });
  $("#deleteAccount").on("click", () => {

    deleteAccountForm.action =
      "/admin/account?id=" + idAccount + "&_method=DELETE";
    deleteAccountForm.submit();
  })
   const activeAccountForm = document.forms["activeAccountForm"];
   const active = document.querySelectorAll(".isActive")
   console.log(active)
   active.forEach(element =>{
    element.addEventListener("click",function(){
      console.log("hello")
      if(element.checked===false){
        activeAccountForm.action =  "/admin/account/active0?id=" + element.value + "&_method=PUT";
      }else{
        activeAccountForm.action =  "/admin/account/active1?id=" + element.value + "&_method=PUT";
      }   
      activeAccountForm.submit();
    })


   })
</script>
{{/section}}
<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Member</h1>
    <a class="btn" href="/admin/listAccount/addTeacher"><i class="fas fa-plus"></i>
      Add teacher</a>
  </div>
  <div class="choose d-flex">
    <div><a {{#ifEquals isActive 1}}class="active" {{/ifEquals}} href="/admin/listAccount">All</a></div>
    <div><a {{#ifEquals isActive 3}}class="active" {{/ifEquals}} href="/admin/listAccount?id=3">Teachers</a></div>
    <div><a {{#ifEquals isActive 2}}class="active" {{/ifEquals}} href="/admin/listAccount?id=2">Students</a></div>
  </div>
  <form action="/admin/listAccount/deleteByCheckbox" method="post">

    <button type="submit" class="admin__btn btn btn--icon check_btn"
      style="background-color: #dc3545; margin-bottom:3px" disabled>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
    <table class="table table-bordered">
      <thead class="thead">
        <tr class="thead">
          <th style="width:5rem; text-align:center !important"><input class="mt-2" type="checkbox" id="checkboxAll" />
          </th>
          <th style="text-align:center !important">#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Course</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td style="width:5rem; text-align:center"><input class="mt-4 {{#if sumCourse}}{{else}}checkboxAccount{{/if}} "
              {{#if sumCourse}}disabled{{/if}} type="checkbox" name="idAccounts" value={{id}} />
          </td>
          <td style="text-align:center">{{id}}</td>
          <td class="d-flex">
            <img class="mr-3" style="width:45px;height: 40px;"
              src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
              alt="" />
            <div class="d-flex flex-column justify-content-between">
              <div>{{name}}</div>
              <div>
                <a class="pl-2 text-danger {{#if sumCourse}}disabled{{/if}}" data-toggle="modal" data-id={{id}}
                  data-target="#deleteAccountModal" href="#"><i class="fas fa-trash"></i>
                  Delete</a>
                  <a class="pl-2" style="color: rgb(0, 115, 255);" data-toggle="modal" data-id={{id}}
                  data-target="#editAccountModal{{id}}" href="#"><i class="fas fa-pen"></i>
                  Edit</a>
              </div>
            </div>
          </td>
          <td class="text-primary">{{email}}</td>
          <td>{{ruleName}}</td>
          <td style="width: 1rem; text-align:center"><a href="/admin/courses?teacher={{id}}">{{sumCourse}}</a></td>
          <td style="width:5rem; text-align:center"><input class="mt-4 isActive"
               type="checkbox" name="isActive" {{#ifEquals isActive 1}}checked{{/ifEquals}} value={{id}} />
          </td>
        </tr>
        {{/each}}

      </tbody>

    </table>
</div>
</form>

<form name="deleteAccountForm" method="post"></form>
<form name="activeAccountForm" method="post"></form>

{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> --}}
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountModal">
          <h2>Confirm delete</h2>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you sure to delete this account?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="deleteAccount" type="button" class="btn btn-primary"
          style="background-color: brown;">Delete</button>
      </div>
    </div>
  </div>
</div>
{{#each users}}
  <div class="modal fade" id="editAccountModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 2rem;">Edit Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">EDIT {{#ifEquals permissionID 3}}TEACHER{{else}}STUDENT{{/ifEquals}} id {{id}}</h2>

                <form action="/admin/listAccount/edit/?id={{id}}&_method=PUT" method="post">

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg" style="font-size: 2rem;">FullName</label>
                    <input
                      type="text"
                      id="form3Example1cg"
                      class="form-control form-control-lg"
                      name="name"
                      value="{{#if ../idUser}}{{../name1}}{{else}}{{name}}{{/if}}"
                    />
                    <input
                      type="text"
                      name="id"
                      value="{{isActive}}"
                        hidden
                    />
                    <p class="required" style="height:2rem;font-size: 1.2rem;color: red">{{../err_message_name}}</p>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg" style="font-size: 2rem;">Email</label>
                    <input
                      type="text"
                      id="form3Example3cg"
                      class="form-control form-control-lg"
                      name="email"
                      value="{{#ifEquals ../idUser id}}{{../email1}}{{else}}{{email}}{{/ifEquals}}"
                    />
                  <p class="required " style="height:2rem;font-size: 1.2rem;color: red">{{#ifEquals ../idUser id}}{{../err_message_email}}{{/ifEquals}}</p>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    >Submit</button>
                  </div>

                </form>

              </div>
            </div>
        </div>



      </div>
    </div>
  </div>
{{/each}}
{{!-- <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAccountModal">
          <h2>Confirm delete</h2>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you sure to delete this account?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="editAccount" type="button" class="btn btn-primary"
          style="background-color: brown;">Delete</button>
      </div>
    </div>
  </div>
</div> --}}
{{#if idUser}}
<input type="text" value="{{idUser}}" id="my-name" hidden>

{{/if}}
