{{#section "css"}}
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
{{/section}}
{{#section "js"}}
<script src="/js/home.js"></script>
{{/section}}

<!-- trending movies -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="trending_carousel">

  <div class="snow">
      <div class="flake"> ❅ </div>
      <div class="flake"> ❅ </div>
      <div class="flake"> ❆ </div>
      <div class="flake"> ❅ </div>
      <div class="flake"> ❅ </div>
      <div class="flake"> ❆ </div>
      <div class="flake"> ❅ </div>
      <div class="flake"> ❅ </div>
      <div class="flake"> ❆ </div>
      <div class="flake"> ❅ </div>
    </div>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="trending_btn active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="trending_btn"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"class="trending_btn"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"class="trending_btn"></li>
  </ol>
  <!-- title -->
  <div class="content__title">Trending Course
  </div>
  <div class="carousel-inner">
    
    {{#each trending}}
    {{#if @first}}
    <div class="carousel-item active">
      {{else}}
      <div class="carousel-item">
        {{/if}}
        <div class="carousel-item__trending ">
          <div class="carousel-item__img" class="d-block w-100" data-aos="zoom-in-right">
            <a href="/courses/detail?id={{id}}" class="course__link"></a>
            <img src={{image}} alt="" srcset="" />
            <div class="carousel-item__rate">
              <div class="carousel-item__rate--1">
                <h3>{{numberStudent}}</h3>
                <span>Students</span>
              </div>
              <div class="carousel-item__rate--1">
                <h3>{{sumRate}}</h3>
                <span>Ratings</span>
              </div>
              <div class="carousel-item__rate--1">
                <h3>{{rated}} <i class="fas fa-star"></i></h3>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <div class="overlay--star" style="width: calc(100% - {{rated}}/5*100%)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item__detail" data-aos="zoom-in-left">
            
            <a href="/courses/detail?id={{id}}" class="carousel-item__detail--name">{{name}}</a>
            <p class="carousel-item__detail--item">{{tinyDescription}}</p>
            
            <div class="carousel-item__detail--teacher">
              Teacher
              <a href="#">{{teacherName}}</a>
            </div>
            <div class="carousel-item__detail--btn">
            {{#if @root.lcAuthTeacher}}
            {{else}}
              {{#if @root.lcAuthAdmin}}
               {{else}}
               {{#if buyed}}
                <a name="buy-btn" id="buy-btn" role="button" class="btn" role="button" href="/courses/join?idCourse={{id}}" role="button" >
                  <i  class="far fa-eye" aria-hidden="true" style="margin-right: 1rem;"></i>
                  Learning
                </a>
                {{else}} 
                <a name="buy-btn" id="buy-btn" class="btn" role="button" href="/courses/enroll?id={{id}}" role="button" >
                  <i  class="fa fa-cart-plus" aria-hidden="true" style="margin-right: 1rem;"></i>
                  Buy now
                </a>
                {{/if}}
                <a name="add-cart-btn" id="add-cart-btn" class="btn btn--bg" href="/courses/{{#if loved}}unlike{{else}}like{{/if}}?id={{id}}" role="button">
                <i  style="font-size:2.5rem;{{#if loved}}color: red;{{/if}}" class="fas fa-heart"></i>
                </a>
              {{/if}}
              {{/if}}


           
              
            </div>

          </div>
        </div>
      </div>

      {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <i role="img" class="fas fa-chevron-left"></i>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <i role="img" class="fas fa-chevron-right"></i>
      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

  <div class="courses container-fluid">
    <div class="courses__title">
      <div>
        <h2>A broad selection of courses</h2>
      </div>
      <p>Choose from 213,000 online video courses with new additions published
        every month</p>
    </div>
    
    <div class="courses__choose">
      <div class="courses__viewed" >
        {{! <h3>The 10 most viewed courses</h3> }}
        <div class="container-fluid">
          <div class="row text-center mb-3">
            <div class="col-md-12">
              <h2>Most Viewed Courses</h2>
              {{! <p>Lorem Ipsum pagination consumpim in definiction.</p> }}
              <hr />
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">

                {{#each arrayViewed}}
                <div class="swiper-slide">
                  <div class="row">
                    {{#each courses}}
                    <div class="col-lg-3 col-md-6">
                      <div class="card" style="width: 100%;" >
                        <a href="/courses/detail?id={{id}}" class="course__link"></a>
                        <img src="{{image}}" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">{{name}}</h5>
                          <h5 class="course__teacher">Teacher: {{teacherName}}</h5>

                          <div class="course__review">
                            {{>barStar}}

                            <div class="course__review-number">({{sumRate}})</div>
                          </div>

                          <div class="course__price">
                            <h4 class="course__price-new">
                              {{format_number fee}}
                              <span class="course__price-unit">đ</span>
                            </h4>
                            <h4 class="course__price-old">
                              {{format_number feeO}}
                              <span class="course__price-unit">đ</span>
                            </h4>
                          </div>

                          {{#if ../../lcAuthTeacher}}
                          {{else}}
                            {{#if ../../lcAuthAdmin}}
                              {{else}}
                                <div class="d-flex justify-content-around course__btn">
                                {{#if buyed}}
                                <a href="/courses/join?idCourse={{id}}" role="button"class="btn mr-2"><i class="far fa-eye"></i>
                                  Learning</a>
                                {{else}}
                                <a href="/courses/enroll?id={{id}}" role="button"class="btn mr-2"><i class="fas fa-shopping-cart"></i>
                                  Buy now</a>
                                {{/if}}
                                <a href="/courses/{{#if loved}}unlike{{else}}like{{/if}}?id={{id}}" class="btn love "><i {{#if loved}} style="color: #fe4343;"{{/if}} class="fas fa-heart"></i></a>
                                </div>
                            {{/if}}
                          {{/if}}
                        </div>
                      </div>
                    </div>
                    {{/each}}

                  </div>
                </div>
                {{/each}}
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
            </div>

          </div>
        </div>
      </div>
      <div class="courses__lastest" >
        <div class="container-fluid">
          <div class="row text-center mb-3">
            <div class="col-md-12">
              <h2>The latest Courses</h2>
              {{! <p>Lorem Ipsum pagination consumpim in definiction.</p> }}
              <hr />
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {{#each arrayLastest}}
                <div class="swiper-slide">
                  <div class="row">
                    {{#each courses}}
                    <div class="col-lg-3 col-md-6">
                      <div class="card" style="width: 100%;">
                        <a href="/courses/detail?id={{id}}" class="course__link"></a>
                        <img src="{{image}}" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">{{name}}</h5>
                          <h5 class="course__teacher">Teacher: {{teacherName}}</h5>

                          <div class="course__review">
                            {{>barStar}}

                            <div class="course__review-number">({{sumRate}})</div>
                          </div>

                          <div class="course__price">
                            <h4 class="course__price-new">
                              {{format_number feeO}}
                              <span class="course__price-unit">đ</span>
                            </h4>
                            <h4 class="course__price-old">
                              {{format_number fee}}
                              <span class="course__price-unit">đ</span>
                            </h4>
                          </div>
                           {{#if ../../lcAuthTeacher}}
                           {{else}}
                            {{#if ../../lcAuthAdmin}}
                           {{else}}
                            <div class="d-flex justify-content-around course__btn">
                            {{#if buyed}}
                              <a href="/courses/join?idCourse={{id}}" role="button"class="btn mr-2"><i class="far fa-eye"></i>
                                Learning</a>
                            {{else}}
                              <a href="/courses/enroll?id={{id}}" role="button"class="btn mr-2"><i class="fas fa-shopping-cart"></i>
                                Buy now</a>
                            {{/if}}
                              <a href="/courses/{{#if loved}}unlike{{else}}like{{/if}}?id={{id}}" class="btn love "><i {{#if loved}} style="color: #fe4343;"{{/if}} class="fas fa-heart"></i></a>
                           </div>
                          {{/if}}
                          {{/if}}
                        </div>
                      </div>
                    </div>
                    {{/each}}


                  </div>
                </div>
                {{/each}}

              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="coures__intro" data-aos="fade-up" data-aos-duration="1000">
      <img src="https://toppng.com/uploads/preview/lay-icon-play-icon-11563266312mklxafh8gy.png" alt="" />
      <div>
        Learn in-demand skills with over 213,000 video courses
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReMeeu7vdVG0LgcKRfNiH62BaPbyMpKOr0qA&usqp=CAU"
        alt="" />

      <div>
        Choose courses taught by real-world experts
      </div>

    </div>
    <div class="courses__featured"  >
      <div class="courses__title mt-5">
        <h2>Top category</h2>
      </div>
      {{!-- <div class="row text-center mt-3">
        <div class="col-md-12">
          <h2>IT Web Programming</h2>
          {{! <p>Lorem Ipsum pagination consumpim in definiction.</p> }}
        </div>
      </div> --}}

      <div class="d-flex justify-content-around flex-wrap" data-aos="fade-up"data-aos-duration="1000">
        {{#each topCategory}}
          <a href="/courses?id={{id}}" class="card">
            <div class="image">
              <img src="/images/category/{{image}}" alt="" srcset="">
            </div>
            <span>{{name}}</span>
          </a>
        {{/each}}
        
       
      </div>

    </div>
    <div class="reason" data-aos="fade-up" data-aos-duration="1000">
      <div class="row text-center mb-3">
        <div class="col-md-12">
          <h1>TOP 3 REASON TO LEARN SUNLIGHT</h1>
          {{! <p>Lorem Ipsum pagination consumpim in definiction.</p> }}
        </div>
      </div>
      <div class="sunlight-reason d-flex justify-content-around">
        <div class="reason-4">
          <div class="img-reason"><img alt="" src="https://unica.vn/media/images/icon-ts-1.png" style="" /></div>
          <div class="txt-reason">Reputable Lecturers
            <span>High quality lectures</span>
          </div>
        </div>
        <div class="reason-4">
          <div class="img-reason"><img alt="" src="https://unica.vn/media/images/icon-ts-2.png" style="" /></div>
          <div class="txt-reason">Payment Onetime
            <span>Learning Forever</span>
          </div>
        </div>
        <div class="reason-4">
          <div class="img-reason"><img class="img-responsive lazy" alt=""
              src="https://unica.vn/media/images/icon-ts-3.png" style="" /></div>
          <div class="txt-reason">Online Learning
            <span>Support 24/24h</span>
          </div>
        </div>
      </div>
    </div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5" data-aos="fade-up-left">
      <div class="col-lg-6 order-2 order-lg-1"><i class="far fa-chart-bar fa-2x mb-3 text-primary "></i>
        <h2 class="font-weight-light">Learning today - Leading tomorrow</h2>
        <p class="font-italic text-muted mb-4">All statistics show that our users have made significant progress in just 1 month.</p><a href="#" class="btn btn-light btnMore px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center" data-aos="fade-up-right">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Easy learning - do not be afraid of difficulties</h2>
        <p class="font-italic text-muted mb-4">Learning is the shortest path to success and personal development.</p><a href="#" class="btn btn-light btnMore px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5" data-aos="flip-up">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Co-founder of SUNLIGHT</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://img.meta.com.vn/Data/image/2021/09/20/anh-meo-che-anh-meo-bua-17.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Diep Tran</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://zilo.vn/wp-content/uploads/2021/12/Hinh-anh-meo-ngau-nhat-10.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Vy Le</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="http://thucungonline.com/Images/upload/IMG_20200218_095045.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Quyen Tran</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://tinhayvip.com/wp-content/uploads/2021/11/anh-meo-che-sieu-bua-khien-cong-dong-mang-cuoi-bo-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tu Nguyen</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>


  </div>
</div>