{{#section "css"}}
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/courses.css" />
  <link rel="stylesheet" href="/css/learningCourses.css" />
  <link rel="stylesheet" href="/css/base.css" />
{{/section}}
{{#section "images"}}
  <link rel="stylesheet" href="/images/background/bg1.png" />
{{/section}}
{{#section "js"}}
  <script src="/js/profile.js"></script>
{{/section}}
<section>
  <div class="container-fluid py-4 m-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4 mb-md-0">
          <div class="card-body box-slider">
            <div class="flex-card">
              <p
                data-content="LEARNING"
                class="mb-4 me-1 titleTransition"
                style="font-weight: bold;font-size:2.6rem"
              >LEARNING
                <i class="fas fa-book" style="color: #6e4616;"></i></p>
              {{! <a href="#" class="load-more-new">&nbsp;</a> }}

            </div>
            <div>
              {{!-- {{#each this.lesson_learned}}
                  <div
                    class="slide d-flex jflex-row mb-1 shadow p-4 mb-2 bg-white"
                    id="slide-1"
                  >
                    <div class="carousel-item__img">
                      <img
                        src={{Img}}
                        alt=""
                      />
                    </div>
                    <div class="carousel-item__detail">
                      <h1 class="carousel-item__detail--name">{{CourseName}}</h1>
                      <div class="carousel-item__detail--teacher">
                        Teacher
                        <a href="#">{{TeacherName}}</a>
                      
                      </div>
                      <div class="carousel-item__completed">
                        <p>Complete: </p><ul> 
                          <li>Hours</li>
                        </ul>
                    </div>
                    </div>
                    
                  </div>
                  
            {{/each}} --}}
              {{#each learning}}
                <div class="course course--horizontal course--best-seller">

                  <div
                    class="course__img"
                    style="background-image:url({{image}})"
                  >
                    {{! <div class="course__best-seller-label">
                      <span>bestseller</span>
                    </div> }}
                  </div>

                  <div class="course__body">

                    <h4 class="course__title">{{name}}</h4>

                    <div class="course__detail ">{{tinyDescription}}

                    </div>

                    <div class="course__teacher">
                      <b>Teacher: </b>
                      {{TeacherName}}
                    </div>

                    <div class="course__review">
                      <div class="course__review-score">
                        {{>barStar}} 
                      </div>
                    <div class="course__review-number">(5)</div>
                    </div>
                    <p>Complete: </p>
                    <ul class="course__info ">
                      <li class="course__info-item">Chapter {{chapterID}}</li>
                      <li class="course__info-item">Lesson {{lessonID}}</li>
                      <li class="course__info-item">Expert Level</li>
                    </ul>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>