{{#section "css"}}
  <link rel="stylesheet" href="/css/profile.css" />
{{/section}}
{{#section "images"}}
  <link rel="stylesheet" href="/images/background/bg1.png" />
{{/section}}
{{#section "js"}}
  <script src="/js/profile.js"></script>
{{/section}}
<section>
  <div class="container-fluid py-4 m-0">
    {{!-- <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div> --}}

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center d-flex flex-column">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px;margin:auto"
            />
            <input type="text" value={{this.profiles.name}} class="my-3" style="font-size: 2.4rem; color:#333333;text-align:center" disabled >
            <p class="text-muted mb-1"><i class="fas fa-graduation-cap"></i>
              Student</p>
            <p class="text-muted mb-4">Ho Chi Minh City, Viet Nam</p>
            {{! <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button
                type="button"
                class="btn btn-outline-primary ms-1"
              >Message</button>
            </div> }}
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <ul class="list-group list-group-flush rounded-3">
              {{! <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li> }}
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">User Name</p>
              </div>
              <div class="col-sm-8">
                <input type="text" value={{this.profiles.name}} class="inputName" disabled >
              </div>
              <div class="col-sm-1">
                <i class="far fa-edit edit"></i>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-8">
                <input type="email" value={{this.profiles.email}} class="inputEmail" disabled >
              </div>
              <div class="col-sm-1">
                <i class="far fa-edit edit"></i>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Password</p>
              </div>
              <div class="col-sm-8">
                <input type="password" value={{this.profiles.password}} class="inputPass" disabled >
              </div>
              <div class="col-sm-1">
                <i class="far fa-edit edit"></i>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body box-slider">
                <div class="flex-card">
                  <p
                    data-content="LEARNING"
                    class="mb-4 me-1 titleTransition"
                    style="font-weight: bold;font-size:2rem"
                  >LEARNING
                    <i class="fas fa-book" style="color: #6e4616;"></i></p>
                  <i
                    class="fas fa-chevron-circle-right"
                    style="font-size: larger;"
                  ></i>
                  {{! <a href="#" class="load-more-new">&nbsp;</a> }}

                </div>
                <div class="slider" style="overflow: scroll;">
                {{#each this.lesson_learned}}
                  <div
                    class="slide d-flex justify-content-between mb-1 shadow p-4 mb-2 bg-white"
                    id="slide-1"
                  >
                    <div class="carousel-item__img">
                      <img
                        src={{Img}}
                        alt=""
                      />
                    </div>
                    <div class="carousel-item__detail">

                      <h1 class="carousel-item__detail--name">{{CourseName}}</h1>
                      <div class="carousel-item__detail--teacher">
                        Teacher
                        <a href="#">{{TeacherName}}</a>
                      </div>

                    </div>
                  </div>
                  
            {{/each}}


            
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <div class="flex-card">
                  <p
                    data-content="WATCH LIST"
                    class="mb-4 me-1 titleTransitionLove"
                    style="font-weight: bold;font-size:2rem"
                  >WATCH LIST
                    <i class="fab fa-gratipay" style="color: #f84c5e;"></i></p>
                  <i
                    class="fas fa-chevron-circle-right"
                    style="font-size: larger;"
                  ></i>
                </div>

                 <div class="slider" style="overflow: scroll;">
                   {{#each this.lesson_love}}
                  <div
                    class="slide d-flex justify-content-between mb-1 shadow p-4 mb-2 bg-white"
                    id="slide-1"
                  >
                    <div class="carousel-item__img">
                      <img
                        src={{Img}}
                        alt=""
                      />
                    </div>
                    <div class="carousel-item__detail">

                      <h1 class="carousel-item__detail--name">{{CourseName}}</h1>
                      <div class="carousel-item__detail--teacher">
                        Teacher
                        <a href="#">{{TeacherName}}</a>
                      </div>

                    </div>
                  </div>
                  {{/each}}
                 
                  
                </div>
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>