<head>
  <link rel="stylesheet" href="css/partials/categoryBar.css" />
</head>

<body>
  <nav class="category">
    <h3 class="category__heading">
      <i class="category__heading-icon fa fa-list" aria-hidden="true"></i>
      <span>Categories</span>
    </h3>

    {{! add category-item--active class for actived li}}
    <ul class="category-list category-list--l1">
      {{#each this}}
        <li class="category-item category-item--l1 {{#if isActive}}category-item--active{{/if}}">
          <a
            href="{{#if isActive}}javascript:void(0){{else}}/courses?id={{id}}{{/if}}"
            class="category-item__link category-item__link--l1"
          >{{name}}</a>

          <ul class="category-list category-list--l2">
            {{#each childs}}
              <li class="category-item category-item--l2 {{#if isActive}}category-item--active{{/if}}">
                <a
                  href="{{#if isActive}}javascript:void(0){{else}}/courses?id={{id}}{{/if}}"
                  class="category-item__link category-item__link--l2"
                >{{name}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </nav>
</body>