<div class="sidenav">
      <div class="formCourse">
          <div>
            {{! title Course }}
            <div class="formCourse_title d-flex justify-content-between" aria-expanded="false">
              <p><i class="fas fa-book-open"></i>
                {{this.course.name}}
              </p>
            </div>
            {{! chapter in course }}
            <div id="course">
              <div class="chapter__content">
                <div class="row">
                  <div class="col-lg-12">
                    {{#each courseContent.chapter}}
                    {{! title Chapter }}
                    <div class="chapter__title d-flex justify-content-between w-100" data-toggle="collapse"
                      data-target="#{{../index}}chapter{{index}}" aria-expanded="true" aria-controls="collapseExample">
                      <div>
                        <p class="chapter__name">
                          Chapter {{index}}: {{name}}</p>
                      </div>
                      <div class=" mr-4 ">
                        <i class="fas fa-angle-down chapter-icon{{index}} down-icon"></i>

                        {{!-- <a class="edit" style="color: rgb(0, 51, 255)" data-toggle="modal"
                          data-target="#course{{../index}}chapter{{index}}"><i class="fas fa-pen"></i> Edit
                        </a> --}}

                      </div>
                    </div>
                    {{! lesson in chapter }}
                    <div class="collapse show" id="{{../index}}chapter{{index}}">
                      {{#each lesson}}
                      <div class="d-flex justify-content-between ml-4 mt-0 pt-0" >
                        <a href="/courses/join?idCourse={{@root.idCourse}}&idChapter={{../index}}&idLesson={{id}}">
                          <p class="lesson__name">
                            Lesson {{index}}: {{name}}</p>
                        </a>
                        <div class="icon-lesson mr-4">
                          {{!-- <a class="edit" style="color: rgb(0, 51, 255)" data-toggle="modal"
                            data-target="#course{{../../index}}chapter{{../index}}lesson{{index}}"><i
                              class="fas fa-pen"></i> Edit
                          </a> --}}
                          {{#if checkLesson}}
                          {{/if}}
                        </div>
                      </div>
                      {{/each}}
                    </div>
                    {{/each}}
                  </div>
                </div>

              </div>

            </div>

          </div>
      </div>
</div>