{{#section "js"}}
  <script id="templateFormAdd" type="text/x-template">
      <tr>
        <td></td>
        <td></td>
        <td>
          <input
            class="form-addChildInput"
            type="text"
            id="addName"
            name="addName"
          />
        </td>
        <td></td> 
        <td class="d-flex">
          <a href="javascript:void(0)" id="addCategoryBtn" class="d-flex link--success mr-5">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i>
            add
          </a>

          <a href="" class="d-flex link--danger">
            <i class="fa fa-window-close mr-2" aria-hidden="true"></i>
            cancel
          </a>
        </td>
      </tr>
  </script>
<script src="/js/admin/categories/edit.js"></script>
{{/section}}

<div class="container-fluid mt-5">
  <div class="row mt-3">
    {{#unless this.category.parentID}}
    <div class="col-lg-5">
      <form class="container" method="post" action="/admin/categories/deleteByCheckbox">
        <div class="admin__header">
          <button type="submit" class="admin__btn btn btn--icon btn--danger btn--disabled multiDeleteCategory" disabled>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <h1 class="admin__title">Child Categories</h1>
          <div class="admin__title mr-3">
            <a href="javascript:void(0)" class="link--gold" id="addChildCategory" disabled>
              <i class="ml-3 fa fa-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <table id="childCategoryTable" class="table table-bordered table--categories">
          <thead class="thead-light">
            <tr>
              <th>
                  <input type="checkbox" id="checkboxAllCategory">
              </th>
              <th>#</th>
              <th>Category</th>
              <th>Number course</th>
              <th class="col-btn">Operations</th>
            </tr>
          </thead>
          <tbody>
          
            {{#each this.childCategories}}
              <tr>
                <td>
                  <input type="checkbox" name="idCategories" class="checkboxCategory" value={{id}} {{#if numberCourse}}disabled{{/if}}>
                </td>
                <td scope="row">{{id}}</td>
                <td>{{name}}</td>
                <td>{{numberCourse}}</td>
                <td class="d-flex">
                  <a href="/admin/categories/edit?id={{id}}" class="d-flex mr-5 link--gold" id="edit">
                    <i class="fa fa-paint-brush mr-2" aria-hidden="true"></i>
                    edit
                  </a>

                  <a href="#" class="d-flex {{#if numberCourse}}link--disabled{{/if}} link--danger" id="delete" data-id={{id}} data-toggle="modal" data-target="#deleteCategoryModal">
                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                    delete
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </form>
    </div>
    {{/unless}}
  
    <div class="col-lg-3">
      <div class="admin__header">
        <h1 class="admin__title">Edit</h1>
      </div>
      <form class="admin__form" 
            method="post" 
            enctype="multipart/form-data"     
            action="/admin/categories/edit?{{this.category.id}}&_method=PUT">
        <div class="admin__form-group">
          <label for="nameCat">ID Category</label>
          <input
            type="text"
            class="form-input"
            id="id"
            name="id"
            value="{{this.category.id}}"
            readonly
          />
        </div>

        <div class="admin__form-group">
          <label for="nameCat">Name Category</label>
          <input
            type="text"
            class="form-input"
            id="name"
            name="name"
            value="{{this.category.name}}"
            autofocus
          />
        </div>

        <div class="admin__form-group">
          <label for="parentID">Parent category</label>
          <select class="form-input" name="parentID" id="parentID" {{#unless this.category.enabledEditParentID}}disabled{{/unless}}>
            <option value="0">None</option>

            {{#each this.parentCategories}}
              <option value={{id}} {{#if isSelected}}selected{{/if}}>{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="admin__form-group">
          <label class="admin__label">Upload image</label>
          {{#if this.category.image}}
            <div class="admin__image" style="background-image: url(/images/category/{{this.category.image}});"></div>
          {{/if}}
          
          <input
            type="file"
            name="image"
            class="form-input"
            data-preview-file-type="text"
          />
        </div>

        <div class="d-flex">
          <a href="/admin/categories" class="btn btn--danger mr-5">Back</a>
          <button type="submit" class="btn btn--success">Save</button>
        </div>
      </form>
    </div>

    <div class="col-lg-{{#unless this.category.parentID}}4{{else}}9{{/unless}}">
      <form class="container" method="post" action="/admin/courses/deleteByCheckbox">
        <div class="admin__header">
          <button
            type="submit"
            class="admin__btn btn btn--icon btn--danger btn--disabled multiDeleteCourse"
            disabled
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <h1 class="admin__title">Courses</h1>
          <div></div>
        </div>

        <table class="table table-bordered table--courses">
          <thead class="thead-light">
            <tr>
              <th>
                <input type="checkbox" id="checkboxAllCourse" />
              </th>
              <th>#</th>
              <th>Course Name</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.courses}}
              <tr>
                <td>
                  <input
                    type="checkbox"
                    name="idCourses"
                    class="checkboxCourse"
                    value={{id}}
                  />
                </td>
                <td scope="row">{{id}}</td>
                <td>{{name}}</td>
                <td class="col-btn">
                  <a
                    href="#"
                    class="d-flex link--danger"
                    id="delete"
                    data-id={{id}}
                    data-toggle="modal"
                    data-target="#deleteCourseModal"
                  >
                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                    delete
                  </a>
                </td>
              </tr>
        {{/each}}
      </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

{{!-- Form add --}}
<form id="addCategoryForm" method="post"></form> 

{{!-- Form delete --}}
<form name="deleteCategoryForm" method="post"></form> 
<form name="deleteCourseForm" method="post"></form> 

{{!-- Confirm delete category --}}
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteCategoryModal">Confirm delete</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 mb-3">
        <h1>Are you sure to delete this category?</h1>
      </div>
      <div class="modal-footer">
        <button id="deleteCategoryBtn" type="button" class="btn btn--danger">Delete</button>
        <button type="button" class="btn btn--border" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! Confirm delete course }}
<div
  class="modal fade"
  id="deleteCourseModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteCourseModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteCourseModal">Confirm delete</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 mb-3">
        <h1>Are you sure to delete this course?</h1>
      </div>
      <div class="modal-footer">
        <button
          id="deleteCourseBtn"
          type="button"
          class="btn btn--danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn--border"
          data-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

{{! The name of the category has already exist }}
<div
  class="modal fade"
  id="failedAddModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="failedAddModel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="failedAddModel">Failed Add</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 mb-3">
        <h1>This category name already exists</h1>
        <h3>Please enter another name</h3>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn--border"
          data-dismiss="modal"
        >OK</button>
      </div>
    </div>
  </div>
</div>

