{{#section "css"}}
  <link rel="stylesheet" href="/css/teacherProfile.css" />
  <link rel="stylesheet" href="/css/profile.css" />
{{/section}}
{{#section "js"}}
  <script src="/js/teacherProfile.js"></script>
{{/section}}
<div class="check"></div>

<div class="container">
  <form action="">
    <div class="col-lg-8 container edit" id="edit">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px;"
          />
          <br />
          <input type="file" name="image" />
          <h1 class="my-3">{{this.teacher.name}}</h1>
          <p class="text-muted mb-1"><i class="fas fa-graduation-cap"></i>
            Teacher</p>
          {{! <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-primary">Follow</button>
          <button type="button" class="btn btn-outline-primary ms-1">Message</button>
        </div> }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-8">
              <input
                type="text"
                value="{{this.teacher.name}}"
                class="text-muted mb-0 input"
                name="name"
                disabled
              />
            </div>
            <div class="col-sm-1">
              <i class="far fa-edit"></i>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">

              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-8">
              <input
                type="text"
                value="{{this.teacher.email}}"
                class="text-muted mb-0 input"
                name="email"
                disabled
              />
            </div>
            <div class="col-sm-1">
              <i class="far fa-edit"></i>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Password</p>
            </div>
            <div class="col-sm-8">
              <input
                type="password"
                value="{{this.teacher.password}}"
                class="text-muted mb-0 input"
                name="password"
                disabled
              />
            </div>
            <div class="col-sm-1">
              <i class="far fa-edit"></i>
            </div>
          </div>

        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">EDIT</button>
    </div>
  </form>
  <div class="col-lg-12">
    <div class="profile-cover">
      <div class="profile-cover__img">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" />
        <h3 class="h3">{{this.teacher.name}}</h3>
      </div>
      <div class="profile-cover__action bg--img" data-overlay="0.3">
        <button class="btn btn-rounded btn-edit">
          <i class="fa fa-comment"></i>
          <span>Edit profile</span>
        </button>
        <a href="/teacher/createCourse" class="btn btn-rounded">
          <i class="fa fa-plus"></i>
          <span>Add new course</span>
        </a>
      </div>
      <div class="profile-cover__info">
        <ul class="nav">
          <li><strong>{{this.teacher.countReview}}</strong>Reviews</li>
          <li><strong>{{this.teacher.student}}</strong>Students</li>
          <li><strong>{{this.teacher.courses}}</strong>Courses</li>
        </ul>
      </div>

    </div>
    <div class="card-body p-4 text-black">
      <div class="mb-5">
        <p class="lead fw-normal mb-1">About</p>
        <div class="p-4" style="background-color: #f8f9fa;">
          <p class="font-italic mb-1" style="font-size: 1.5rem;">Jose Marcial
            Portilla has a BS and MS in Mechanical Engineering from Santa Clara
            University and years of experience as a professional instructor and
            trainer for Data Science, Machine Learning and Python Programming.
            He has publications and patents in various fields such as
            microfluidics, materials science, and data science. Over the course
            of his career he has developed a skill set in analyzing data and he
            hopes to use his experience in teaching and data science to help
            other people learn the power of programming, the ability to analyze
            data, and the skills needed to present the data in clear and
            beautiful visualizations. Currently he works as the Head of Data
            Science for Pierian Training and provides in-person data science and
            python programming training courses to employees working at top
            companies, including General Electric, Cigna, The New York Times,
            Credit Suisse, McKinsey and many more. Feel free to check out the
            website link to find out more information about training offerings.</p>

        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <p class="lead fw-normal mb-0">Courses</p>
        <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
      </div>
      <div class="row g-2">
        {{#each course}}
          <div class="col-3 mb-2">
            <div class="card" style="width: 100%;">
              {{! <a href="/courses/courseDetail" class="course__link"></a> }}
              <img src="{{image}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Javascript for beginners</h5>

                <div class="course__review">
                  {{!-- <div class="course__review-score">
                    4.3
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </div> --}}
                  {{>barStar}}
                  <div class="course__review-number">({{numberStudent}})</div>
                </div>

                <div class="course__price">
                  <h4 class="course__price-new">
                    {{format_number feeO}}
                    <span class="course__price-unit">đ</span>
                  </h4>
                  <h4 class="course__price-old">
                    {{format_number fee}}
                    <span class="course__price-unit">đ</span>
                  </h4>
                </div>

              </div>
            </div>
          </div>
        {{/each}}

      </div>

    </div>
  </div>
</div>